@import url('https://fonts.googleapis.com/css?family=Quicksand|Zeyada|Zilla+Slab');

$color1 : #8482DF;
$color2: #FFEEC3;
$color3: black;

$font1 : 'Zilla Slab', serif;
$font2 : 'Quicksand', sans-serif;
$font3 : 'Zeyada', cursive;



body {
  background-color: $color3;
  width: 100%;
  height: 100%;
  margin : 0;
  padding : 0;


}
//page 1 : fox!

.homepage {
  width: 100%;
  height: 100%;

}

//ciel étoilé
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:30%;
  display:block;
  @media only screen and (max-width: 1000px) {

    display : none;
  }
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}



  .mainElement{
    position: absolute;
    left: 620px;
    top: 50%;
    text-align: justify;
    padding-right: 40px;
  @media only screen and (max-width: 1000px) {

    display : none;
  }

  }
  .quote {
   color: $color1;
   font-family: $font1;
   font-size: 35px;
  }
  .author{
    color: $color1;
    font-family: $font3;
    font-size: 25px;
  }
  .clickbait {
    color: $color1;
    font-family: $font1;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: normal;
    position: absolute;
    left: 450px;
    top: 150px;
    padding-right: 40px;

  }

  .fox{
    position: absolute;
    width: 400.5px;
    height: 340px;
    left: 10%;
    top: 30%;
    @media only screen and  (max-width: 1000px) {

      display : none;
    }
  }
  .fox:hover{
    cursor: pointer;
  }


//cvhome

.cvhome {

  background: url("../../images/Polygon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color3 ;
  width: 100%;
  height: 100vh;


}

.cvhome1{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  display : flex;
  justify-content: space-around;
}

  .leftbox{



//CV PIC
  .photocv img {
    display : block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin : 40px auto 40px auto;



  }

  // BOXES

  .biotext{
    width: 372px;
    color : $color2;
    font-family: $font2;
    font-size: 14px;
    text-align: justify;
    margin : 40px auto 40px auto;



    p{
      font-weight: 100;

    }


  }



  .skillsbox {
    color : $color2;
    font-family: $font2;
    border-radius: 10px;
    padding: 20px;
    width: 550px;
    background-color: black;
    text-align: justify;




    h1 {
      color : $color2;
      font-family: $font1;
      font-size: 18px;
      border-left: solid 50px $color1;
      padding-left: 20px;
    }
    ul {

      display: inline-block;
      font-size: 14px;
      font-weight: 100;

    }
    ul.border{
      border-right: solid 2px $color1;
      padding-right: 20px;
    }
    li {
      list-style-type: none;
    }
    li:before {
    	content: "- "; /* on affiche une chaîne de caractère */
    }

    p{
      padding: 0 20px 0 20px;
      font-size: 14px;

    }



  }

  .becode{
    position : absolute;
    margin-top: -345px;
    margin-left: 40px;

  }
  .master2{
    position : absolute;
    margin-top: -295px;
    margin-left: 40px;
  }

  .master1{
    position : absolute;
    margin-top: -200px;
    margin-left: 40px;
  }

  .bac{
    position : absolute;
    margin-top: -100px;
    margin-left: 40px;
  }


  .experiencesbox {
    color : $color2;
    font-family: $font2;
    border-radius: 10px;
    padding: 20px;
    width: 550px;
    background-color: black;
    text-align: justify;

    h1 {
      color : $color2;
      font-family: $font1;
      font-size: 18px;
      border-left: solid 50px $color1;
      padding-left: 20px;
    }

    p{
      padding: 0 20px 0 20px;
      font-size: 14px;

    }

    img {
      width: 400px;
      margin-left : 50px;
      margin-top : -30px;
    }

  }

}




.rightbox{
/// CONTACT BOXES

  .contactbox{

    width: 372px;
    margin : 40px auto 40px auto;
    border : solid 1px $color1;
    border-radius: 2px;
    padding : 10px;
    color : $color2;
    font-family: $font2;

    h1 {
      margin-left: 230px;
      font-family: $font1;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0.1em;
    }

    .qrcode{
    float : right;
    }



  }

.clickable {
  margin-left: 210px;
  margin-top: 20px;
img {
  padding-left: 30px;
  width: 20px;
}
}


/////// ROULETTE



#triangle {
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-bottom: 80px solid rgba(132, 130, 223, 0.52);
    margin: auto;
}

.subtitles {
  color : $color2;
  font-family: $font1;
  margin : 40px auto 90px auto;

}

    #skills{

      margin-left : 170px;
      padding-bottom: 30px;
      width : 30px;

    &:hover{
    cursor: pointer;
    opacity : 0.5;
    }

  }


  #volunteering{
    margin-left : 140px;
    padding-bottom: 30px;
    padding-top: 30px;
    width : 30px;

    &:hover{
    cursor: pointer;
    opacity : 0.5;
  }
  }
  #education{
    margin-left : 290px;
    margin-top: -20px;
    position : absolute;
    width : 30px;

    &:hover{
    cursor: pointer;
    opacity : 0.5;
  }
  }
  #softskills{
    margin-top: -20px;
    position : absolute;
    width : 100px;

    &:hover{
    cursor: pointer;
    opacity : 0.5;
  }
  }
  #interests{
    margin-top: -100px;
    position : absolute;
    width : 30px;

    &:hover{
    cursor: pointer;
    opacity : 0.5;
  }
  }
  #experiences{
    margin-left : 290px;
    margin-top: 10px;
    position : absolute;
    width : 30px;

    &:hover{
    cursor: pointer;
    opacity : 0.5;
  }
  }

}



/////MOBILE

  .mobileversion {
    display : none;

    @media only screen and  (max-width: 1000px) {

      display : block;
      position : inherit;
      margin: auto;
      padding-top: 30px;

    }
  }


    @media only screen and (max-width: 1000px) {


      .photocvmob img {
        display : block;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        margin : 40px auto 40px auto;

        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;


      }

      .biotextmob{
        width: 80%;
        color : $color2;
        font-family: $font2;
        font-size: 14px;
        text-align: justify;
        margin : 40px auto 40px auto;



        p{
          font-weight: 100;
          font-size: 35px;

        }

      }

      .contactboxmob{
        width: 100%;
        margin : 40px auto 40px auto;
        border : solid 1px $color1;
        border-radius: 2px;
        padding : 10px;
        color : $color2;
        font-family: $font2;

        h1 {
          margin-left: 80%;
          font-family: $font1;
          font-size: 45px;
          font-weight: bold;
          letter-spacing: 0.1em;
        }

        p{
          font-size: 35px;
        }



        .qrcode{
        float : right;
        margin-right: 30px;
        margin-top : 10%;


        }

        .clickable{
          margin-left: 60%;
        img {
          margin : 20px;
          width : 12%;

        }
        }


        }



      .cvhome{
        display : none;
      }

    .interestbox{
    display : block;
    position : inherit;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 30px;
    border-top: solid 1px $color1;
    color : $color2;
    font-family: $font2;
    width: 100%;
    background-color: black;
    text-align: justify;

    h1 {
      color : $color2;
      font-family: $font1;
      font-size: 45px;
      border-left: solid 50px $color1;
      padding-left: 20px;
    }
    ul {

      display: inline-block;
      font-size: 35px;
      font-weight: 100;

    }
    ul.border{
      border-right: solid 2px $color1;
      padding-right: 20px;
    }
    li {
      list-style-type: none;
    }
    li:before {
    	content: "- "; /* on affiche une chaîne de caractère */
    }

    p{
      padding: 0 20px 0 20px;
      font-size: 35px;

    }
    }



    .softbox{

      display : block;
      margin: 0 auto;
      margin-top: 50px;
      padding-top: 30px;
      border-top: solid 1px $color1;
      h1 {
        color : $color2;
        font-family: $font1;
        font-size: 45px;
        border-left: solid 50px $color1;
        padding-left: 45px;
      }
      img {
        width: 80%;
      }
    }

    .voluntbox{
      display : block;
      margin: 0 auto;
      margin-top: 50px;
      padding-top: 30px;
      border-top: solid 1px $color1;
      color : $color2;
      font-family: $font2;
      width: 100%;
      background-color: black;
      text-align: justify;

      h1 {
        color : $color2;
        font-family: $font1;
        font-size: 45px;
        border-left: solid 50px $color1;
        padding-left: 20px;
      }

      p{
        padding: 0 20px 0 20px;
        font-size: 35px;

      }

    }

    .experiencebox{
      display : block;
      margin: 0 auto;
      margin-top: 50px;
      padding-top: 30px;
      border-top: solid 1px $color1;
      color : $color2;
      font-family: $font2;
      width: 100%;
      background-color: black;
      text-align: justify;

      h1 {
        color : $color2;
        font-family: $font1;
        font-size: 45px;
        border-left: solid 50px $color1;
        padding-left: 20px;
      }

      p{
        padding: 0 20px 0 20px;
        font-size: 35px;

      }

    }

    .educationbox{
      display : block;
      margin: 0 auto;
      margin-top: 50px;
      padding-top: 30px;
      border-top: solid 1px $color1;
      color : $color2;
      font-family: $font2;
      width: 100%;
      background-color: black;
      text-align: justify;
      margin-bottom: 90px;


      .texteduc{

        margin-top: 30px;
      }

      .master1{
        margin-top: 50px;
      }
      .bac{
        margin-top: 50px;
      }
      h1 {
        color : $color2;
        font-family: $font1;
        font-size: 45px;
        border-left: solid 50px $color1;
        padding-left: 20px;
      }

      p{
        padding: 0 20px 0 20px;
        font-size: 35px;


      }
      img {
        position : absolute;
      }

    }

    .skillbox {
      display : block;
      margin: auto;
      margin-top: 50px;
      color : $color2;
      font-family: $font2;
      border-radius: 10px;
      width: 100%;
      background-color: black;
      text-align: justify;



      h1 {
        color : $color2;
        font-family: $font1;
        font-size: 45px;
        border-left: solid 50px $color1;
        padding-left: 20px;
      }
      ul {

        display: inline-block;
        font-size: 35px;
        font-weight: 100;

      }
      ul.border{
        border-right: solid 2px $color1;
        padding-right: 20px;
      }
      li {
        list-style-type: none;
      }
      li:before {
      	content: "- "; /* on affiche une chaîne de caractère */
      }

      p{
        padding: 0 20px 0 20px;
        font-size: 14px;

      }
    }

  }
